# Python caches
__pycache__/
*.py[cod]

# Build
dist/
build
sdist/
wheels/
*.egg
*.egg-info/

# Documentation
docs/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Temporary stuff
*.bak
*.tmp
*.log
*.swp

# Visual Studio Code
.vscode/
